
body{
    background-color: sienna;
    font-family: 'Dancing Script', cursive;;
}


form{
    border-collapse: collapse;
    background-color: blanchedalmond;
}
.card{
    background-color: bisque;
}